.Feed {
  width: 100%;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  margin: 30px 0;
}

.Feed--UserInfo {
  display: flex;
  align-items: center;
  padding: 10px;
}

.Feed img {
  width: 100%;
}

.Feed--Content {
  padding: 10px;
}

.CreatedAt {
  color: #dbdbdb;
  font-size: small;
}

.UserName {
  margin: 0 8px;
}
