.Feed {
  width: 100%;
  height: 800px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  margin-bottom: 30px;
}

.Feed--UserInfo {
  display: flex;
  align-items: center;
}

.Feed img {
  width: 100%;
}
