.App {
  display: flex;
  justify-content: center;
}

.MainContainer {
  width: 70%;
  margin-top: 54px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.LeftContainer {
  width: 60%;
}

.RightContainer {
  width: 40%;
  display: flex;
  justify-content: center;
}
